@font-face {
    font-family: 'pixeled'; /*a name to be used later*/
    src: url('pixeled.ttf'); /*URL to font*/
}
body {
    width: 2000px;
    height: 500px;
    background-color: black;
}
html,body {
    max-width: 100%;
    max-height: 100%;
    overflow-x: hidden;
    overflow-y: hidden;
}

#report {
    z-index: 11;
    position: absolute;
    color: white;
    top: 100px;
    left: 0px;
    right:0px;
    text-align: center;
    font-family: "pixeled";
    font-size: 300%;
}
#button {
    font-family: "pixeled";
    position: absolute;
    left:0px;
    right:0px;
    top:240px;
    height: 80px;
    font-size: 100%;
    background-color: rgba(350, 350, 350, 0.4);
    color:black;
    border: 0px;
    width: 100%;
    z-index: 15;
}
#button:hover {
    font-size: 150%;
}
#button:focus {
    outline: none;
}

#exitbutton {
    font-family: "pixeled";
    position: absolute;
    left:20px;
    right:0px;
    top:370px;
    height: 80px;
    font-size: 100%;
    background-color: rgba(350, 350, 350, 0.4);
    color:black;
    border: 0px;
    width: 300px;
    z-index: 15;
    -webkit-clip-path: polygon(15% 0%, 100% 1%, 100% 100%, 15% 100%, 0% 50%);
    clip-path: polygon(15% 0%, 100% 1%, 100% 100%, 15% 100%, 0% 50%);
}

#exitbutton:hover {
    font-size: 150%;
    color: #590000;
}
#exitbutton:focus {
    outline: none;;
}
canvas {
    width: 100%;
    height: 100%;
    z-index: 5;
}
audio {
    visibility: hidden;
}
